@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
/* --------------------
   Global font + defaults
-------------------- */
:root {
  font-family: system-ui, Avenir, Avenir-Heavy, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  font-family: Avenir, Avenir-Heavy, system-ui, Helvetica, Arial, sans-serif;
}

/* --------------------
   Dark mode (default)
-------------------- */
:root {
  color: #11160e;
  background-color: #f7f9f6;
}

/* --------------------
   Light mode (when <html> has class="light")
-------------------- */
.dark {
  color: #ecf1e9;
  background-color: #070906;
}

/* --------------------
   Colors (from realtimecolors.com)
-------------------- */
@theme {
  --color-text-900: #11160e;
  --color-background-50: #f7f9f6;
  --color-background-100: #e8e9e7;
  --color-background-200: #dee0dd;
  --color-primary-600: #425c38;
  --color-secondary-300: #9dc3b7;
  --color-accent-500: #5b9595;
  --color-dark-text: #ecf1e9;
  --color-background-500: #1c1c1c;
  --color-background-700: #121212;
  --color-background-900: #070906;
  --color-dark-primary: #adc7a3;
  --color-darksecondary: #3c6256;
  --color-dark-accent: #6aa4a4;
}


/* --------------------
   Buttons
-------------------- */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: Avenir;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: gray;
}
button:disabled {
  cursor: default;
}

/* --------------------
   Form inputs
-------------------- */
input[type="range"] {
  accent-color: #8cd3d5;
}
input[type="checkbox"] {
  accent-color: #8cd3d5;
}

/* --------------------
   Avenir font face
-------------------- */
@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-Heavy";
  src: url("/fonts/Avenir-Heavy.ttf") format("truetype");
}
